.border {
  border: 2px solid red;
}

.flex {
  display: flex;
  /* margin: 3px; */
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-grey {
  background-color: #121212;
}

.invert {
  filter: invert(1);
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 7px;
}

.p-1{
    padding: 10px;
}

/* Width */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; /* color of the scroll thumb */
  border-radius: 5px; /* roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* color of th
